<h1>List of rules:</h1>
<ul>
  <li>
    <p>Playing board is of size 10x10 spots </p>
  </li>
  <li>
    <p>Each player have 5 ship -> 1 x Destroyer (2 spots long), 1 x Cruiser (3 spots long), 1 x Battleship (4 spots long), 1 x Carrier (5 spots long)</p>
  </li>
  <li>
    <p>Ships can be placed horizontally or vertically</p>
  </li>
  <li>
    <p>Ships can be placed only within size of the board and can't overlap, but they can touch eachother</p>
  </li>
  <li>
    <p>Every move, players change turns - no matter of outcome(miss, hit etc.)</p>
  </li>
  <li>
    <p>Both players play 100% randomly</p>
  </li>
</ul>








