table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  text-align: center;
  width: 25%;
}
table {
  table-layout: fixed;
  width: 100%;
}

th {
  text-align: center;
}

#outer {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
}
.space {
  width: 4px;
  height: auto;
  display: inline-block;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
